body{
    background-color: hwb(251 82% 3%);
    font-family: sans-serif;
}

h1, p{
    color: hwb(250 10% 56%);
}

nav{
    background-color: hwb(250 10% 56%);
    color: rgb(204, 184, 223);
}

nav img{
    height: 5vh;
}

nav li{
    display: inline-block;
    margin: 1em;
    vertical-align: middle;
}